<nav class="navbar navbar-expand-lg navbar-light border border-top-0 border-end-0 border-start-0 border-dark fixed-top  bg-white " >
  <div class="container-fluid container">
    <a class="navbar-brand navbar-homepage" href="#">
      Medium
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item ms-1 me-1">
          <a class="nav-link active text-font-defauld" aria-current="page" href="#">Our story</a>
        </li>
        <li class="nav-item ms-1 me-1">
          <a class="nav-link active text-font-defauld" aria-current="page" href="#">Membership</a>
        </li>
        <li class="nav-item ms-1 me-1">
          <a class="nav-link active text-font-defauld" aria-current="page" href="#">Write</a>
        </li>
        <li class="nav-item ms-1 me-1">
          <a class="nav-link active text-font-defauld" aria-current="page" href="#">Sign In</a>
        </li>
        <li class="nav-item ms-2">
          <a class="btn btn-dark nav-item__button ps-3 pe-3 text-font-defauld" href="#" role="button">Get started</a>
        </li>
      </ul>
    </div>
  </div>
</nav>